/* screen - 1000 */

.x1000 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 10885px;
  min-width: 1000px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.x1000 .according-to-mi-the-new-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 268px);
  width: 632px;
}
.x1000 .adidas-Z3HEQV {
  background-color: transparent;
  height: auto;
  left: calc(50.00% + 231px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 281px);
  white-space: nowrap;
  width: auto;
}
.x1000 .as-i-mentioned-original-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 1572px);
  width: 632px;
}
.x1000 .before-changing-n-from-the-fold-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 2352px);
  width: 632px;
}
.x1000 .category-optimi-izontal-filters-C61RwL {
  background-color: transparent;
  height: 40px;
  left: calc(50.00% - 402px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 5100px);
  width: 803px;
}
.x1000 .contact-C61RwL {
  background-color: transparent;
  color: var(--baltic-sea);
  cursor: pointer;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  right: 38px;
  text-align: left;
  top: calc(50.00% - 5392px);
  white-space: nowrap;
  width: auto;
}
.x1000 .evyatar-mor-C61RwL {
  background-color: transparent;
  color: var(--baltic-sea);
  cursor: pointer;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 5392px);
  white-space: nowrap;
  width: auto;
}
.x1000 .eyebuydirect-7IKFuJ {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 44px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 10px);
  white-space: nowrap;
  width: auto;
}
.x1000 .frame-C61RwL {
  background-color: transparent;
  height: 20px;
  left: -216px;
  overflow: hidden;
  position: absolute;
  top: 55px;
  width: 153px;
}
.x1000 .group-262-efqkcZ {
  background-color: transparent;
  height: 30px;
  left: calc(50.00% - 306px);
  position: absolute;
  top: calc(50.00% + 140px);
  width: 621px;
}
.x1000 .group-278-1-C61RwL {
  background-color: transparent;
  height: 510px;
  left: calc(50.00% - 266px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% + 680px);
  width: 531px;
}
.x1000 .group-278-C61RwL {
  background-color: transparent;
  height: 632px;
  left: calc(50.00% - 500px);
  position: absolute;
  top: calc(50.00% + 620px);
  width: 1000px;
}
.x1000 .group-341-C61RwL {
  background-color: transparent;
  height: 632px;
  left: calc(50.00% - 500px);
  position: absolute;
  top: calc(50.00% + 4730px);
  width: 1000px;
}
.x1000 .group-348-C61RwL {
  background-color: transparent;
  height: 605px;
  left: calc(50.00% - 500px);
  position: absolute;
  top: calc(50.00% - 3240px);
  width: 1006px;
}
.x1000 .group-35622-1-C61RwL {
  background-color: transparent;
  height: 505px;
  left: calc(50.00% - 261px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 412px);
  width: 522px;
}
.x1000 .group-356340-Z3HEQV {
  background-color: transparent;
  height: 21px;
  left: calc(50.00% - 304px);
  position: absolute;
  top: calc(50.00% - 40px);
  width: 89px;
}
.x1000 .group-nmPg8G {
  background-color: transparent;
  height: 47.65%;
  left: 26.35%;
  position: relative;
  top: 26.24%;
  width: 45.21%;
}
.x1000 .image-100-C61RwL {
  background-color: transparent;
  height: 574px;
  left: calc(50.00% - 579px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 2578px);
  width: 1158px;
}
.x1000 .image-101-C61RwL {
  background-color: transparent;
  height: 574px;
  left: calc(50.00% - 579px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 1772px);
  width: 1158px;
}
.x1000 .image-102-C61RwL {
  background-color: transparent;
  height: 575px;
  left: calc(50.00% - 579px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 3322px);
  width: 1158px;
}
.x1000 .image-103-C61RwL {
  background-color: transparent;
  height: 574px;
  left: calc(50.00% - 579px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 4066px);
  width: 1158px;
}
.x1000 .image-91-C61RwL {
  background-color: transparent;
  height: 654px;
  left: calc(50.00% - 660px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 4958px);
  width: 1320px;
}
.x1000 .image-96-efqkcZ {
  background-color: transparent;
  height: 298px;
  left: calc(50.00% - 451px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 170px);
  width: 441px;
}
.x1000 .image-97-efqkcZ {
  background-color: transparent;
  height: 298px;
  left: calc(50.00% + 12px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 170px);
  width: 440px;
}
.x1000 .image-99-C61RwL {
  background-color: transparent;
  height: 575px;
  left: calc(50.00% - 579px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 1834px);
  width: 1158px;
}
.x1000 .in-the-last-few-raise-the-kp-is-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 3600px);
  width: 632px;
}
.x1000 .ms-Z3HEQV {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 276px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 282px);
  white-space: nowrap;
  width: auto;
}
.x1000 .new-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 1488px);
  white-space: nowrap;
  width: auto;
}
.x1000 .new-filter-info-now-subfilters-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 234px);
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 1264px);
  white-space: nowrap;
  width: auto;
}
.x1000 .new-layout-tablet-WdW8bC {
  background-color: transparent;
  height: auto;
  left: calc(50.00% + 148px);
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 15px);
  white-space: nowrap;
  width: auto;
}
.x1000 .old-category-fi-a-sort-by-usage-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 300px);
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 164px);
  white-space: nowrap;
  width: 602px;
}
.x1000 .old-category-layout-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 79px);
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 1106px);
  white-space: nowrap;
  width: auto;
}
.x1000 .old-layout-tablet-WdW8bC {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 310px);
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 15px);
  white-space: nowrap;
  width: auto;
}
.x1000 .opportunity-for-a-big-win-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 3686px);
  white-space: nowrap;
  width: auto;
}
.x1000 .page-layouts-ca-but-re-created-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 4126px);
  width: 632px;
}
.x1000 .pointinghand-1-5-C61RwL {
  background-color: transparent;
  height: 15px;
  left: calc(50.00% + 142px);
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 3186px);
  width: 15px;
}
.x1000 .pros-cons-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 2436px);
  white-space: nowrap;
  width: auto;
}
.x1000 .rectangle-633-C61RwL {
  background-color: var(--concrete);
  height: 734px;
  left: calc(50.00% - 500px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 1852px);
  width: 1000px;
}
.x1000 .rectangle-635-C61RwL {
  background-color: var(--concrete);
  height: 623px;
  left: calc(50.00% - 500px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 472px);
  width: 1000px;
}
.x1000 .rectangle-666-C61RwL {
  background-color: var(--concrete);
  height: 734px;
  left: calc(50.00% - 500px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 1754px);
  width: 1000px;
}
.x1000 .rectangle-667-C61RwL {
  background-color: var(--concrete);
  height: 734px;
  left: calc(50.00% - 500px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 2498px);
  width: 1000px;
}
.x1000 .rectangle-668-efqkcZ {
  background-color: var(--concrete);
  height: 632px;
  left: calc(50.00% - 500px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 316px);
  width: 1000px;
}
.x1000 .rectangle-685-VhQlKC {
  background-color: var(--concrete);
  height: 632px;
  left: calc(50.00% - 500px);
  mix-blend-mode: normal;
  position: relative;
  top: calc(50.00% - 316px);
  width: 1000px;
}
.x1000 .rectangle-723-C61RwL {
  background-color: var(--concrete);
  height: 734px;
  left: calc(50.00% - 500px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 3242px);
  width: 1000px;
}
.x1000 .rectangle-724-C61RwL {
  background-color: var(--concrete);
  height: 734px;
  left: calc(50.00% - 500px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 3986px);
  width: 1000px;
}
.x1000 .rectangle-C61RwL {
  background-color: transparent;
  height: 1237px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 5442px);
  width: 100%;
}
.x1000 .rectangle-VMr6Om {
  background-color: transparent;
  height: 140px;
  left: 270px;
  position: absolute;
  top: 320px;
  width: 700px;
}
.x1000 .secret-glasses-C61RwL {
  background-color: transparent;
  height: 53px;
  left: calc(50.00% - 258px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 5201px);
  width: 517px;
}
.x1000 .span0-OxxKZP {

}
.x1000 .span0-RVEuBT {

}
.x1000 .span0-c9xMPl {

}
.x1000 .span1-OxxKZP {
  line-height: 24px;
}
.x1000 .span1-RVEuBT {

}
.x1000 .span1-c9xMPl {
  line-height: 30px;
}
.x1000 .span2-RVEuBT {

}
.x1000 .span2-c9xMPl {
  line-height: 24px;
}
.x1000 .span3-RVEuBT {

}
.x1000 .span4-RVEuBT {

}
.x1000 .the-old-design-n-will-fix-this-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 796px);
  width: 632px;
}
.x1000 .title-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 882px);
  white-space: nowrap;
  width: auto;
}
.x1000 .vector-EGWuLG {
  background-color: transparent;
  height: 34.98%;
  left: 59.34%;
  position: absolute;
  top: 52.07%;
  width: 7.37%;
}
.x1000 .vector-LNGzam {
  background-color: transparent;
  height: 34.98%;
  left: 45.85%;
  position: absolute;
  top: 52.07%;
  width: 7.37%;
}
.x1000 .vector-PnsxzD {
  background-color: transparent;
  height: 111.92%;
  left: -5.30%;
  mix-blend-mode: normal;
  position: absolute;
  top: -5.96%;
  width: 110.61%;
}
.x1000 .vector-akbBVS {
  background-color: transparent;
  height: 111.92%;
  left: -5.30%;
  position: absolute;
  top: -5.96%;
  width: 110.61%;
}
.x1000 .vector-axyXkb {
  background-color: transparent;
  height: 34.98%;
  left: 73.50%;
  position: absolute;
  top: 52.07%;
  width: 7.37%;
}
.x1000 .wwwadidas-Z3HEQV {
  background-color: transparent;
  height: 258px;
  left: calc(50.00% + 11px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 16px);
  width: 488px;
}
.x1000 .wwweyebuydirect-Z3HEQV {
  background-color: transparent;
  height: 257px;
  left: calc(50.00% - 504px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 304px);
  width: 488px;
}
.x1000 .wwwmarksandspencer-Z3HEQV {
  background-color: transparent;
  height: 258px;
  left: calc(50.00% - 504px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 16px);
  width: 488px;
}
.x1000 .wwwzennioptical-1-Z3HEQV {
  background-color: transparent;
  height: 258px;
  left: calc(50.00% + 11px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 304px);
  width: 488px;
}
.x1000 .zenni-Z3HEQV {
  background-color: transparent;
  height: auto;
  left: calc(50.00% + 236px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 39px);
  white-space: nowrap;
  width: auto;
}
/* screen - 1240 */

.x1240 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 11025px;
  min-width: 1240px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.x1240 .according-to-mi-the-new-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 338px);
  width: 632px;
}
.x1240 .adidas-Z3HEQV {
  background-color: transparent;
  height: auto;
  left: calc(50.00% + 293px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 350px);
  white-space: nowrap;
  width: auto;
}
.x1240 .as-i-mentioned-original-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 1642px);
  width: 632px;
}
.x1240 .before-changing-n-from-the-fold-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 2282px);
  width: 632px;
}
.x1240 .category-optimi-izontal-filters-C61RwL {
  background-color: transparent;
  height: 40px;
  left: calc(50.00% - 402px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 5170px);
  width: 803px;
}
.x1240 .contact-C61RwL {
  background-color: transparent;
  color: var(--baltic-sea);
  cursor: pointer;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  right: 78px;
  text-align: left;
  top: calc(50.00% - 5462px);
  white-space: nowrap;
  width: auto;
}
.x1240 .evyatar-mor-C61RwL {
  background-color: transparent;
  color: var(--baltic-sea);
  cursor: pointer;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 5462px);
  white-space: nowrap;
  width: auto;
}
.x1240 .eyebuydirect-7IKFuJ {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 44px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 10px);
  white-space: nowrap;
  width: auto;
}
.x1240 .frame-C61RwL {
  background-color: transparent;
  height: 20px;
  left: -216px;
  overflow: hidden;
  position: absolute;
  top: 55px;
  width: 153px;
}
.x1240 .group-262-efqkcZ {
  background-color: transparent;
  height: 30px;
  left: calc(50.00% - 338px);
  position: absolute;
  top: calc(50.00% + 154px);
  width: 684px;
}
.x1240 .group-278-1-C61RwL {
  background-color: transparent;
  height: 510px;
  left: calc(50.00% - 266px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% + 750px);
  width: 531px;
}
.x1240 .group-278-C61RwL {
  background-color: transparent;
  height: 632px;
  left: calc(50.00% - 620px);
  position: absolute;
  top: calc(50.00% + 690px);
  width: 1240px;
}
.x1240 .group-341-C61RwL {
  background-color: transparent;
  height: 632px;
  left: calc(50.00% - 620px);
  position: absolute;
  top: calc(50.00% + 4800px);
  width: 1240px;
}
.x1240 .group-348-C61RwL {
  background-color: transparent;
  height: 745px;
  left: calc(50.00% - 620px);
  position: absolute;
  top: calc(50.00% - 3310px);
  width: 1246px;
}
.x1240 .group-35622-1-C61RwL {
  background-color: transparent;
  height: 505px;
  left: calc(50.00% - 261px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 342px);
  width: 522px;
}
.x1240 .group-356340-Z3HEQV {
  background-color: transparent;
  height: 21px;
  left: calc(50.00% - 366px);
  position: absolute;
  top: calc(50.00% - 46px);
  width: 89px;
}
.x1240 .group-nmPg8G {
  background-color: transparent;
  height: 47.65%;
  left: 26.35%;
  position: relative;
  top: 26.24%;
  width: 45.21%;
}
.x1240 .image-100-C61RwL {
  background-color: transparent;
  height: 594px;
  left: calc(50.00% - 599px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 2638px);
  width: 1198px;
}
.x1240 .image-101-C61RwL {
  background-color: transparent;
  height: 594px;
  left: calc(50.00% - 599px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 1712px);
  width: 1198px;
}
.x1240 .image-102-C61RwL {
  background-color: transparent;
  height: 594px;
  left: calc(50.00% - 599px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 3382px);
  width: 1198px;
}
.x1240 .image-103-C61RwL {
  background-color: transparent;
  height: 594px;
  left: calc(50.00% - 599px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 4126px);
  width: 1198px;
}
.x1240 .image-91-C61RwL {
  background-color: transparent;
  height: 654px;
  left: calc(50.00% - 660px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 5028px);
  width: 1320px;
}
.x1240 .image-96-efqkcZ {
  background-color: transparent;
  height: 326px;
  left: calc(50.00% - 504px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 184px);
  width: 482px;
}
.x1240 .image-97-efqkcZ {
  background-color: transparent;
  height: 326px;
  left: calc(50.00% + 22px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 184px);
  width: 482px;
}
.x1240 .image-99-C61RwL {
  background-color: transparent;
  height: 594px;
  left: calc(50.00% - 599px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 1894px);
  width: 1198px;
}
.x1240 .in-the-last-few-raise-the-kp-is-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 3670px);
  width: 632px;
}
.x1240 .ms-Z3HEQV {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 338px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 352px);
  white-space: nowrap;
  width: auto;
}
.x1240 .new-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 1558px);
  white-space: nowrap;
  width: auto;
}
.x1240 .new-filter-info-now-subfilters-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 234px);
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 1334px);
  white-space: nowrap;
  width: auto;
}
.x1240 .new-layout-tablet-WdW8bC {
  background-color: transparent;
  height: auto;
  left: calc(50.00% + 179px);
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 15px);
  white-space: nowrap;
  width: auto;
}
.x1240 .old-category-fi-a-sort-by-usage-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 300px);
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 234px);
  white-space: nowrap;
  width: 602px;
}
.x1240 .old-category-layout-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 79px);
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 1036px);
  white-space: nowrap;
  width: auto;
}
.x1240 .old-layout-tablet-WdW8bC {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 342px);
  letter-spacing: 0.00px;
  line-height: 27px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 15px);
  white-space: nowrap;
  width: auto;
}
.x1240 .opportunity-for-a-big-win-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 3756px);
  white-space: nowrap;
  width: auto;
}
.x1240 .page-layouts-ca-but-re-created-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 4196px);
  width: 632px;
}
.x1240 .pointinghand-1-5-C61RwL {
  background-color: transparent;
  height: 15px;
  left: calc(50.00% + 142px);
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 3256px);
  width: 15px;
}
.x1240 .pros-cons-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 2366px);
  white-space: nowrap;
  width: auto;
}
.x1240 .rectangle-633-C61RwL {
  background-color: var(--concrete);
  height: 734px;
  left: calc(50.00% - 620px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 1782px);
  width: 1240px;
}
.x1240 .rectangle-635-C61RwL {
  background-color: var(--concrete);
  height: 623px;
  left: calc(50.00% - 620px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 402px);
  width: 1240px;
}
.x1240 .rectangle-666-C61RwL {
  background-color: var(--concrete);
  height: 734px;
  left: calc(50.00% - 620px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 1824px);
  width: 1240px;
}
.x1240 .rectangle-667-C61RwL {
  background-color: var(--concrete);
  height: 734px;
  left: calc(50.00% - 620px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 2568px);
  width: 1240px;
}
.x1240 .rectangle-668-efqkcZ {
  background-color: var(--concrete);
  height: 632px;
  left: calc(50.00% - 620px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 316px);
  width: 1240px;
}
.x1240 .rectangle-685-VhQlKC {
  background-color: var(--concrete);
  height: 632px;
  left: calc(50.00% - 620px);
  mix-blend-mode: normal;
  position: relative;
  top: calc(50.00% - 316px);
  width: 1240px;
}
.x1240 .rectangle-723-C61RwL {
  background-color: var(--concrete);
  height: 734px;
  left: calc(50.00% - 620px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 3312px);
  width: 1240px;
}
.x1240 .rectangle-724-C61RwL {
  background-color: var(--concrete);
  height: 734px;
  left: calc(50.00% - 620px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 4056px);
  width: 1240px;
}
.x1240 .rectangle-C61RwL {
  background-color: transparent;
  height: 1237px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 5512px);
  width: 100%;
}
.x1240 .rectangle-VMr6Om {
  background-color: transparent;
  height: 140px;
  left: 270px;
  position: absolute;
  top: 320px;
  width: 700px;
}
.x1240 .secret-glasses-C61RwL {
  background-color: transparent;
  height: 53px;
  left: calc(50.00% - 258px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 5271px);
  width: 517px;
}
.x1240 .span0-OxxKZP {

}
.x1240 .span0-RVEuBT {

}
.x1240 .span0-c9xMPl {

}
.x1240 .span1-OxxKZP {
  line-height: 24px;
}
.x1240 .span1-RVEuBT {

}
.x1240 .span1-c9xMPl {
  line-height: 30px;
}
.x1240 .span2-RVEuBT {

}
.x1240 .span2-c9xMPl {
  line-height: 24px;
}
.x1240 .span3-RVEuBT {

}
.x1240 .span4-RVEuBT {

}
.x1240 .the-magic-mumber-7-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 45px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 812px);
  white-space: nowrap;
  width: auto;
}
.x1240 .the-old-design-n-will-fix-this-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 315px);
  letter-spacing: 0.00px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 726px);
  width: 632px;
}
.x1240 .vector-EGWuLG {
  background-color: transparent;
  height: 34.98%;
  left: 59.34%;
  position: absolute;
  top: 52.07%;
  width: 7.37%;
}
.x1240 .vector-LNGzam {
  background-color: transparent;
  height: 34.98%;
  left: 45.85%;
  position: absolute;
  top: 52.07%;
  width: 7.37%;
}
.x1240 .vector-PnsxzD {
  background-color: transparent;
  height: 111.92%;
  left: -5.30%;
  mix-blend-mode: normal;
  position: absolute;
  top: -5.96%;
  width: 110.61%;
}
.x1240 .vector-akbBVS {
  background-color: transparent;
  height: 111.92%;
  left: -5.30%;
  position: absolute;
  top: -5.96%;
  width: 110.61%;
}
.x1240 .vector-axyXkb {
  background-color: transparent;
  height: 34.98%;
  left: 73.50%;
  position: absolute;
  top: 52.07%;
  width: 7.37%;
}
.x1240 .wwwadidas-Z3HEQV {
  background-color: transparent;
  height: 318px;
  left: calc(50.00% + 14px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 22px);
  width: 604px;
}
.x1240 .wwweyebuydirect-Z3HEQV {
  background-color: transparent;
  height: 318px;
  left: calc(50.00% - 624px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 374px);
  width: 604px;
}
.x1240 .wwwmarksandspencer-Z3HEQV {
  background-color: transparent;
  height: 320px;
  left: calc(50.00% - 624px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 22px);
  width: 604px;
}
.x1240 .wwwzennioptical-1-Z3HEQV {
  background-color: transparent;
  height: 318px;
  left: calc(50.00% + 14px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 374px);
  width: 604px;
}
.x1240 .zenni-Z3HEQV {
  background-color: transparent;
  height: auto;
  left: calc(50.00% + 297px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 46px);
  white-space: nowrap;
  width: auto;
}
/* screen - mobile */

.mobile {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 6447px;
  min-width: 375px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.mobile .according-to-mi-the-new-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 27.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 220px);
  width: 337px;
}
.mobile .as-i-mentioned-original-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 27.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 1240px);
  width: 337px;
}
.mobile .before-changing-zon-walmart-etc-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 27.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 1460px);
  width: 337px;
}
.mobile .category-optimi-izontal-filters-C61RwL {
  background-color: transparent;
  height: 50px;
  left: calc(50.00% - 126px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 3039px);
  width: 253px;
}
.mobile .contact-C61RwL {
  background-color: transparent;
  color: var(--baltic-sea);
  cursor: pointer;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  right: 17px;
  text-align: left;
  top: calc(50.00% - 3204px);
  white-space: nowrap;
  width: auto;
}
.mobile .evyatar-mor-C61RwL {
  background-color: transparent;
  color: var(--baltic-sea);
  cursor: pointer;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 3204px);
  white-space: nowrap;
  width: auto;
}
.mobile .eyebuydirect-category-layout-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 98px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 1610px);
  white-space: nowrap;
  width: auto;
}
.mobile .group-276-1-C61RwL {
  background-color: transparent;
  height: 425px;
  left: calc(50.00% - 152px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% + 620px);
  width: 305px;
}
.mobile .group-35622-1-C61RwL {
  background-color: transparent;
  height: 279px;
  left: calc(50.00% - 144px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 164px);
  width: 288px;
}
.mobile .group-356324-C61RwL {
  background-color: transparent;
  height: 497px;
  left: calc(50.00% - 168px);
  position: absolute;
  top: calc(50.00% + 584px);
  width: 335px;
}
.mobile .image-100-C61RwL {
  background-color: transparent;
  height: 171px;
  left: calc(50.00% - 172px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 1776px);
  width: 346px;
}
.mobile .image-102-C61RwL {
  background-color: transparent;
  height: 171px;
  left: calc(50.00% - 172px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 2080px);
  width: 346px;
}
.mobile .image-103-C61RwL {
  background-color: transparent;
  height: 172px;
  left: calc(50.00% - 172px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 2380px);
  width: 346px;
}
.mobile .image-104-C61RwL {
  background-color: transparent;
  height: 172px;
  left: calc(50.00% - 172px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 955px);
  width: 346px;
}
.mobile .image-91-C61RwL {
  background-color: transparent;
  height: 192px;
  left: calc(50.00% - 194px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 2924px);
  width: 388px;
}
.mobile .image-96-C61RwL {
  background-color: transparent;
  height: 189px;
  left: calc(50.00% - 140px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% + 2662px);
  width: 280px;
}
.mobile .image-97-C61RwL {
  background-color: transparent;
  height: 189px;
  left: calc(50.00% - 140px);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% + 2920px);
  width: 280px;
}
.mobile .image-99-C61RwL {
  background-color: transparent;
  height: 172px;
  left: calc(50.00% - 172px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 1474px);
  width: 346px;
}
.mobile .in-the-last-few-raise-the-kp-is-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 27.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 2206px);
  width: 337px;
}
.mobile .new-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% + 1190px);
  white-space: nowrap;
  width: auto;
}
.mobile .new-layout-tablet-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 70px);
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 3116px);
  white-space: nowrap;
  width: auto;
}
.mobile .old-category-fi-s-sort-by-usage-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 112px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 158px);
  white-space: nowrap;
  width: auto;
}
.mobile .old-category-fi-s-sort-by-usage-VMr6Om {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 112px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 1088px);
  white-space: nowrap;
  width: auto;
}
.mobile .old-layout-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 36px);
  letter-spacing: 0.00px;
  line-height: 21px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 714px);
  white-space: nowrap;
  width: auto;
}
.mobile .old-layout-tablet-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 68px);
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% + 2860px);
  width: auto;
}
.mobile .opportunity-for-a-big-win-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 2256px);
  white-space: nowrap;
  width: auto;
}
.mobile .page-layouts-ca-but-re-created-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 27.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 2632px);
  width: 337px;
}
.mobile .pros-cons-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 1510px);
  white-space: nowrap;
  width: auto;
}
.mobile .rectangle-633-C61RwL {
  background-color: transparent;
  height: 292px;
  left: calc(50.00% - 168px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 1014px);
  width: 335px;
}
.mobile .rectangle-633-VMr6Om {
  background-color: transparent;
  height: 223px;
  left: calc(50.00% - 168px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 1842px);
  width: 335px;
}
.mobile .rectangle-635-C61RwL {
  background-color: transparent;
  height: 350px;
  left: calc(50.00% - 168px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 200px);
  width: 335px;
}
.mobile .rectangle-636-3ktZw6 {
  background-color: transparent;
  height: 497px;
  left: calc(50.00% - 168px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 248px);
  width: 335px;
}
.mobile .rectangle-637-C61RwL {
  background-color: transparent;
  height: 292px;
  left: calc(50.00% - 168px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 1414px);
  width: 335px;
}
.mobile .rectangle-638-C61RwL {
  background-color: transparent;
  height: 292px;
  left: calc(50.00% - 168px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 1716px);
  width: 335px;
}
.mobile .rectangle-639-C61RwL {
  background-color: transparent;
  height: 292px;
  left: calc(50.00% - 168px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 2018px);
  width: 335px;
}
.mobile .rectangle-640-C61RwL {
  background-color: transparent;
  height: 292px;
  left: calc(50.00% - 168px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 2320px);
  width: 335px;
}
.mobile .rectangle-641-C61RwL {
  background-color: transparent;
  height: 561px;
  left: calc(50.00% - 168px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% + 2622px);
  width: 335px;
}
.mobile .rectangle-C61RwL {
  background-color: var(--concrete);
  height: 551px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 3224px);
  width: 100%;
}
.mobile .secret-glasses-C61RwL {
  background-color: transparent;
  height: 25px;
  left: calc(50.00% - 115px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 3092px);
  width: 233px;
}
.mobile .span0-86DeIG {

}
.mobile .span0-goilg6 {

}
.mobile .span0-hCeEy5 {

}
.mobile .span1-86DeIG {
  color: var(--log-cabin);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}
.mobile .span1-goilg6 {
  line-height: 30px;
}
.mobile .span1-hCeEy5 {
  line-height: 27px;
}
.mobile .span2-86DeIG {

}
.mobile .span2-goilg6 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.mobile .span2-hCeEy5 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.mobile .span3-86DeIG {
  color: var(--log-cabin);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}
.mobile .span4-86DeIG {

}
.mobile .the-magic-mumber-7-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 614px);
  white-space: nowrap;
  width: auto;
}
.mobile .the-magic-mumber-7-VMr6Om {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 614px);
  white-space: nowrap;
  width: auto;
}
.mobile .the-old-design-n-will-fix-this-C61RwL {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 168px);
  letter-spacing: 0.00px;
  line-height: 27.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 564px);
  width: 337px;
}
.mobile .wwweyebuydirect-C61RwL {
  background-color: transparent;
  height: 151px;
  left: calc(50.00% - 144px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 1806px);
  width: 288px;
}
@media screen and (max-width: 999px) {
  .x1000 { 
    display: none;
   }
  .x1240 { 
    display: none;
   }
}
@media screen and (min-width: 1000px) and (max-width: 1239px) {
  .x1240 { 
    display: none;
   }
  .mobile { 
    display: none;
   }
}
@media screen and (min-width: 1240px) {
  .x1000 { 
    display: none;
   }
  .mobile { 
    display: none;
   }
}